<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Station</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='graph.js') }}"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-slate-200">
        <h1 class="flex justify-center text-2xl font-medium text-cyan-400 mt-4">Ajouter une sonde</h1>
        <div class="container mx-auto my-8 mt-8">
            <form class="flex flex-col gap-4 mt-4 w-full md:w-1/2 mx-auto" method="POST" action="/add_sonde">
                <div class="flex flex-col gap-1">
                    <label class="text-3xl text-cyan-900 font-bold" for="nom">Nom : </label>
                    <input type="text" name="nom" id="nom" required><br>
                </div>
                <div class="flex flex-col gap-1">
                    <button class="bg-cyan-500 text-white py-2 px-4 rounded" type="submit">valider</button>
                </div>
            </form>
        </div>
    </body>
</html>