<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='graph.js') }}"></script>
    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6.3.1/dist/tippy-bundle.umd.min.js"></script>

</head>
<body class="bg-slate-200">
    <h1 class="flex justify-center text-2xl font-medium text-cyan-400 mt-4">Station &nbsp;<span class="text-yellow-400">Météo</span></h1>
    <div class="flex justify-center mt-8">
        {% if actif%}
            <a class="flex justify-center bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded" href="/list">Gérer les sondes</a>
            <a class="flex justify-center bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded ml-8" href="/logout">Se déconnecter</a>
            {% if admin %}
                <a class="flex justify-center bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded ml-8" href="/connexion">Utilisateurs connectés</a>
            {% endif %}
        {% else %}
            <a class="flex justify-center  bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded " href="/login">Se connecter</a>
        {% endif %}
    </div>
    <div class="container mx-auto my-8">
        <table class="min-w-full bg-white border border-teal-500">
            <thead>
                <tr class="bg-cyan-500 text-white">
                    <th class="text-center w-1/3">Température (en °C)</th>
                    <th class="text-center w-1/3">Taux d'humidité (en %)</th>
                    <th class="text-center w-1/3">Pression (en pa)</th>
                </tr>
            </thead>
            <tbody>
                {% for releve in releve %}
                    <tr>
                        <td class="text-center">{{ releve.moy_temp }}</td>
                        <td class="text-center">{{ releve.moy_humidite }}</td>
                        <td class="text-center">{{ releve.moy_pression }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>


    <div class="flex justify-center">
        <div class="w-1/4 h-1/4 bg-white border border-teal-500">
            <h2 class="flex justify-center text-2xl font-medium text-cyan-400">Météo</h2>
            <h3 class="flex justify-center text-2xl font-medium text-cyan-400">{{ emoji }}</h3>
        </div>
    </div>

    <div class="flex justify-center">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <div class="flex justify-center">
        <a id="shareButton" href="#" onclick="shareChart()" class="flex justify-center bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded">Partager le graphique</a>
    </div>

</body>
    
</html>