<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-200">
    <h1 class="flex justify-center text-2xl font-medium text-cyan-400 mt-4">Modifier les sondes</h1>
    <div class="flex justify-normal ml-8">
        <a class="flex justify-normal bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded ml-8" href="/">Retour</a>
    </div>

          
        <div class="container mx-auto my-8">
            <table class="min-w-full bg-white border border-teal-500">
                <thead>
                    <tr class="bg-cyan-500 text-white">
                        <th>Numéro</th>
                        <th>Nom</th>
                        <th>État</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sonde in table_sonde %}
                        <tr>
                            <td class="text-center">{{ sonde.id_Sonde }}</td>
                            <td class="text-center">{{ sonde.name_sonde }}</td>
                            <td class="text-center p-0">
                                <a href="/edit/{{sonde.id_Sonde}}" class="flex justify-center">
                                    {% if sonde.actif_sonde == 1 %}
                                        ✅
                                    {% else %}
                                        ❌
                                    {% endif %}
                                </a>
                            </td>                                                 
                            <td class="text-center">
                                <a href="/delete/{{sonde.id_Sonde}}" class="flex justify-center">
                                    <button class="bg-red-500 hover:bg-red-600 text-white font-medium px-2 rounded w-16">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </a>
    <a href="/add" class="flex justify-center mt-8">
        <button type="submit" value="2" class="bg-teal-500 hover:bg-teal-600 text-white font-bold px-4 py-2 rounded-lg">
            Ajouter une sonde
        </button>
       
    </a>
</body>
    
</html>